<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="greetings-text">Hello</div>
    <button class='button'>Send Get Request</button>
    <button class='button2'>Send Post Request</button>
    <script src="hjklapp.js"></script>
</body>
</html>