<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet"  href="main.css" >
    <title>Ласкаво просимо | .globus</title>
</head>
<body>
    <section>
        <!--<h1><span>.glo</span>bal</h1>-->

        <form method="post" action="index">
            <label>Email:</label>
            <input type="text" class="email_form" name="email">
            <p class="warningUsers"><%=warningUsers%></p>
            <label>Пароль:</label>
            <input type="password" class="password_form" name="password">
            <input type="submit" value="Вхід" class="logIn" name="submitLogin"> 
            <input type="submit" value="Зареєструватися" class="signUp" name="submitRegist">
        </form>
        

    </section>
</body>
</html>