<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet"  href="login_style.css" >
    <title>Ласкаво просимо | .globus</title>
</head>
<body>
    <section>
        <h1><span>.glo</span>bal</h1>

        <form method="post" action="login">
            <label>Email:</label>
            <input type="text" class="email_form" name="email" value="">
            <p class="warningUsers"><%=warningUsers%></p>
            <label>Пароль:</label>
            <input type="password" class="password_form" name="password" value="">
            <input type="submit" value="Вхід" class="logIn" name="submitLogin"> 
            <input type="submit" value="Зареєструватися" class="signUp" name="submitRegist">
        </form>

        <h2>&#9400;Yura Serdyuk 2018</h2>
    </section>
</body>
</html>