<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Example</title>
		<link rel="stylesheet" type="text/css" href="registration_style.css">
	</head>

	<body>
		<section>
			<!--<h1><big><span>.glo</span>bal</big> | РЕЄСТ<span>РАЦІЯ</span></h1>-->
	
			<form method="post" action="registration">
				<label>Ваше ім`я:<span>*</span></label>
				<input type="text" class="name_form" name="firstName">
				<input type="text" class="last_name_form" name="lastName">
				<label>Email:<span>*</span></label>
				<input type="text" class="email_form" name="emailRegist">
				<label>Пароль:<span>*</span></label>
				<input type="password" class="password_form" name="passwordRegist">
				<label>Повторіть пароль:<span>*</span></label>
				<input type="password" class="again_password_form" name="againPasswordRegistr">
				<input type="submit" value="Зареєструватися" class="signUp" name="signUp">
				<input type="submit" value="Вже є профіль? Увійти" class="signIn" name="signIn">
			</form>
	
		</section>
	</body>
</html>